.container{
    display:flex;
    flex-direction: column;
    padding: 50px;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.comment-section {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 100px;
}