.imageSide {
    position: sticky !important;
    top: 0 !important;
    height: 100vh !important;
    width: 100% !important;
}


.formScroll {
    padding-bottom: 5%;
}

#continue {
    margin: auto;
    margin-top: 5%;
}

::ng-deep .countrySelect mat-form-field {
    min-width: 200px;
    width: 100%;
}