<div class="wrapper">
    <div class="formSide">
        <a [routerLink]="'/'" class="backLink">&lt;&lt; Back to main site</a>

        <div class="formWrapper formScroll">
            <p class="title">REGISTER</p>

            <form class="authForm" [formGroup]="registrationForm">
                <mat-form-field class="textBox">
                    <mat-label>Role</mat-label>
                    <mat-select [(value)]="selectedRole" placeholder="Mode" [required]="true">
                        <mat-option value="guest">Guest</mat-option>
                        <mat-option value="host">Host</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" maxlength="64">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" pattern="^[A-Za-zšŠčČćĆđĐžŽ]+$">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text" formControlName="surname" pattern="^[A-Za-zšŠčČćĆđĐžŽ]+$">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Address</mat-label>
                    <input matInput type="text" formControlName="address" pattern="^[A-Za-z0-9šŠčČćĆđĐžŽ ]*$">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>City</mat-label>
                    <input matInput type="text" formControlName="city" pattern="^[A-Za-zšŠčČćĆđĐžŽ ]+$">
                </mat-form-field>

                <mat-select-country class="countrySelect" label="Country" [value]="selectedCountry" [required]="true"
                    (onCountrySelected)="onCountryChange($event)" appearance="fill">
                </mat-select-country>

                <mat-form-field class="textBox">
                    <mat-label>Phone number</mat-label>
                    <input matInput type="text" formControlName="phone" pattern="^(\(\+\d{1,3}\)( )?)?\d{7,15}$">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="text" formControlName="confirmedPassword">
                </mat-form-field>
            </form>

            <button mat-flat-button class="inputButton" color="primary" id="continue"
                (click)="onRegister()">Continue</button>
            <p class="promptText">Have an account? <a [routerLink]="'/login'">Login</a></p>
        </div>
    </div>
    <div class="imageScroll">
        <div class="imageSide">
            <p class="phrase">Become a part<br>of something<br>amazing</p>
        </div>
    </div>

</div>