<mat-toolbar id="header" *ngIf="visible">
    <a class="horizontal-flex" [routerLink]="'/'">
        <img class="toolbar-logo-img" src="assets/logo.png" />
        <span class="app-name">Odyssey</span>
    </a>
    <div class="horizontal-flex">
        <a [routerLink]="'/'">Home</a>
        <a [routerLink]="'/accommodations'">Search</a>
        <a [routerLink]="'/'">Contact</a>
        <a [routerLink]="'/'" *ngIf="role == 'GUEST'">My reservations</a>
        <a [routerLink]="'/'" *ngIf="role == 'HOST'">Reservations</a>
        <a [routerLink]="'/'" *ngIf="role == 'HOST'">My accommodations</a>
        <a [routerLink]="'/accommodation/create'" *ngIf="role == 'HOST'">Create</a>
        <a [routerLink]="'/accommodationRequests'" *ngIf="role == 'ADMIN'">Reviews</a>
        <a [routerLink]="'/'" *ngIf="role == 'ADMIN'">Accommodations</a>
        <a [routerLink]="'/'" *ngIf="role == 'ADMIN'">Users</a>
        <img class="toolbar-profile-img" [routerLink]="'/account'" src="{{image}}"
            *ngIf="['ADMIN', 'HOST', 'GUEST'].includes(role)" />
        <a [routerLink]="'/login'" *ngIf="!['ADMIN', 'HOST', 'GUEST'].includes(role)">Log in</a>
        <a [routerLink]="'/registration'" *ngIf="!['ADMIN', 'HOST', 'GUEST'].includes(role)">Sign up</a>
    </div>
</mat-toolbar>