<input type="file" style="display: none;" [accept]="requiredFileType" [multiple]="multiple"
    (change)="onFileSelected($event)" #fileUpload>
<div class="file-upload">
    <mat-label>{{fileName || "No file uploaded yet."}}</mat-label>
    <button mat-raised-button color="primary" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>{{text}}
    </button>

    <div *ngIf="fileName" class="progress my-3">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
        </div>
    </div>

    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

</div>