<div style="display: flex; margin: 20px; align-items: center;">
    <h1 class="page-title">Account management</h1>
    <button *ngIf="isOwner" mat-raised-button color="primary" class="logout-btn" style="margin-left: auto;"
        (click)="onLogout();">
        <mat-icon>logout</mat-icon>Log out
    </button>
</div>

<section id="summary-section" class="card-section rounded-border">
    <div class="about-profile-container">
        <img src={{image}} />
    </div>
    <app-file-uploader [endpoint]="image" [paramName]="'image'" [text]="'Upload image'"></app-file-uploader>
</section>

<div id="info-section" class="wrapper-section rounded-border">
    <div class="section-header">
        <p class="section-title">Basic info</p>
        <div class="form-buttons" *ngIf="isOwner">
            <button mat-stroked-button id="btn-edit-info" *ngIf="isDisabled" (click)="onEdit()">
                <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-raised-button id="btn-save-info" color="primary" *ngIf="!isDisabled" (click)="onSave()">
                Save
            </button>
            <button mat-stroked-button id="btn-cancel-info" *ngIf="!isDisabled" (click)="onCancel()">
                Cancel
            </button>
        </div>
    </div>
    <form [formGroup]="userForm" class="card-section">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="name" name="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="surname" name="surname">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email address</mat-label>
            <input matInput type="email" formControlName="email" name="email">
        </mat-form-field>

        <mat-form-field style="display: inline-block; width: 80%;">
            <mat-label>Phone</mat-label>
            <input matInput type="text" formControlName="phone" name="phone">
        </mat-form-field>

        <mat-form-field id="about-form">
            <textarea matInput id="about-textarea" type="text" rows="5" formControlName="bio" name="bio"></textarea>
        </mat-form-field>

        <mat-form-field style="width: 80%;">
            <mat-label>Street</mat-label>
            <input matInput type="text" formControlName="street" name="street">
        </mat-form-field>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city" name="city">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput type="text" formControlName="country" name="country">
        </mat-form-field>
    </form>
</div>


<div id="account-section" class="wrapper-section rounded-border">
    <div class="section-header">
        <p class="section-title">Account</p>
        <div class="form-buttons">
            <button mat-raised-button id="btn-save-password" color="primary" (click)="onSavePassword();">
                Update password
            </button>
        </div>
    </div>

    <form [formGroup]="passwordForm" *ngIf="isOwner" class="card-section">
        <mat-form-field>
            <mat-label>Current password</mat-label>
            <input matInput type="password" formControlName="oldPassword" name="oldPassword">
        </mat-form-field>
        <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type=" password" formControlName="newPassword" name="newPassword">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm new password</mat-label>
            <input matInput type=" password" formControlName="confirmPassword" name="confirmPassword">
        </mat-form-field>

        <button mat-stroked-button id="btn-deactivate" color="warn" style="grid-column: 1 / 4;"
            (click)="onDeactivate()">
            <mat-icon>warning</mat-icon>Deactivate account
        </button>
    </form>
</div>