<section id="notification-section" class="card-section rounded-border">
    <div class="section-header">
        <p class="section-title" style="margin-bottom: 16px;">Notifications</p>
        <div class="form-buttons">
            <button mat-raised-button id="btn-save-address" color="primary" (click)="onSave('Settings saved!')"
                *ngIf="settingsChanged">
                Save
            </button>
        </div>
    </div>

    <mat-slide-toggle *ngIf="['GUEST', 'HOST'].includes(role!)" (change)="onSettingsChange()"
        [(ngModel)]="editedUser.settings!.reservationRequested">
        <span class="toggle-text">On reservation request made</span>
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="role == 'GUEST'" (change)="onSettingsChange()"
        [(ngModel)]="editedUser.settings!.reservationAccepted">
        <span class="toggle-text">On reservation accept</span>
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="role == 'GUEST'" (change)="onSettingsChange()"
        [(ngModel)]="editedUser.settings!.reservationDeclined">
        <span class="toggle-text">On reservation decline</span>
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="role == 'HOST'" (change)="onSettingsChange()"
        [(ngModel)]="editedUser.settings!.reservationCancelled">
        <span class="toggle-text">On reservation cancellation</span>
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="role == 'HOST'" (change)="onSettingsChange()"
        [(ngModel)]="editedUser.settings!.profileReviewed">
        <span class="toggle-text">On profile reviewed</span>
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="['HOST', 'ADMIN'].includes(role!)" (change)="onSettingsChange()"
        [(ngModel)]="editedUser.settings!.accommodationReviewed">
        <span class="toggle-text">On accommodation reviewed</span>
    </mat-slide-toggle>
    <mat-slide-toggle *ngIf="role == 'ADMIN'" (change)="onSettingsChange()"
        [(ngModel)]="editedUser.settings!.profileReviewed">
        <span class="toggle-text">On host reviewed</span>
    </mat-slide-toggle>
</section>