<div class="card-container">
    <div class="head-container">
        <div class="profile-image-container">
            <img src="assets/user_stock_image.jpg" alt="profile image">
        </div>
        <div class="name-rating-container">
            <div class="name-container">
                <span class="name-text">Svetlanina bliznakinja</span>
            </div>
            <div class="rating-container">
                <span class="material-symbols-outlined star-icon">
                    star
                </span>
                <span class="rating-text">5.0</span>
            </div>
        </div>
        <div class="report-button-container">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>flag</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider />
    <div class="comment-container">
        <div class="title-container">
            <span class="title-text">Great place to stay</span>
        </div>
        <div class="comment-container">
            <span class="comment-text">
                Absolutely fantastic experience!
                I couldn't be more pleased with my stay at The Willow. From the moment I walked in, I was greeted with a
                warm and inviting atmosphere.
                The attention to detail in the design and amenities was remarkable, creating a comfortable and relaxing
                environment.
                The cleanliness was impeccable, and every corner of the space exuded a sense of care and thoughtfulness.
            </span>
        </div>
        <div class="date-container">
            <span class="date-text">May 2021</span>
        </div>

    </div>