<div class="body-container">
    <div class="header-name-image-container">
        <div class="accommodation-name-container">
            <div class="accommodation-name">
                <div class="title-text">The Willow</div>
                <div class="rating-container">
                    <button mat-stroked-button>
                        <mat-icon>favorite</mat-icon>
                        Save
                    </button>
                </div>
            </div>
            <div class="location-header">
                <div class="location-icon-container">
                    <mat-icon class="location-icon">location_on</mat-icon>
                </div>
                <div class="location-text-container">
                    <div class="location-text">Novi Sad, Serbia</div>
                </div>
            </div>
        </div>

        <div class="image-container">
            <div class="grid-container">
                <img src="assets/accommodation_image.webp" alt="accommodation image" class="grid-item">
                <img src="assets/accommodation_image_1.webp" alt="accommodation image" class="grid-item">
                <img src="assets/accommodation_image_2.webp" alt="accommodation image" class="grid-item">
                <img src="assets/accommodation_image_3.webp" alt="accommodation image" class="grid-item">
                <img src="assets/accommodation_image_4.webp" alt="accommodation image" class="grid-item">
            </div>
            <button class="show-more-button" mat-fab extended>
                <mat-icon>window</mat-icon>
                Show more
            </button>
        </div>
    </div>
    <div class="accommodation-split-container">
        <div class="split-container-column">
            <div class="host-container">
                <div class="host-section">
                    <div class="host-header-container">
                        <div class="host-info-container">
                            <div class="host-image-container">
                                <img src="assets/user_stock_image.jpg" alt="profile image">
                            </div>
                            <div class="host-text-info-container">
                                <div class="hosted-by-container">
                                    <span class="hosted-by">Hosted by </span>
                                    <span class="host-name">Svetlana Radivojevic</span>
                                </div>
                                <div class="member-since-container">
                                    <span class="member-since">Member since </span>
                                    <span class="member-since-date">2019</span>
                                </div>
                            </div>
                        </div>
                        <button mat-icon-button>
                            <mat-icon>flag</mat-icon>
                        </button>
                    </div>
                    <div class="about-host-section">
                        <div class="about-host-title">
                            About Svetlana
                        </div>
                        <div class="about-host-container">
                            Hi, I am Svetlana. I am a mother of two, and I love to travel.
                            I have been to many places, and I know how important it is to have a nice place to stay.
                            I hope you will enjoy your stay at our apartment.
                            If you have any questions, feel free to contact me, and I will be happy to help you.
                        </div>
                    </div>
                </div>
            </div>
            <div class="amenities-section">
                <div class="amenities-title">
                    Amenities
                </div>
                <div class="amenities-container">
                    <div class="amenities-item">
                        <mat-icon>bathtub</mat-icon>
                        <div class="amenities-text">1 bath</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>king_bed</mat-icon>
                        <div class="amenities-text">1 king bed</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>ac_unit</mat-icon>
                        <div class="amenities-text">Air conditioning</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>tv</mat-icon>
                        <div class="amenities-text">TV</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>local_laundry_service</mat-icon>
                        <div class="amenities-text">Washer</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>local_parking</mat-icon>
                        <div class="amenities-text">Free parking</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>local_dining</mat-icon>
                        <div class="amenities-text">Kitchen</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>local_fire_department</mat-icon>
                        <div class="amenities-text">Smoke alarm</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>beach_access</mat-icon>
                        <div class="amenities-text">Beach access</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>smoking_rooms</mat-icon>
                        <div class="amenities-text">Smoking room</div>
                    </div>
                    <div class="amenities-item">
                        <mat-icon>wifi</mat-icon>
                        <div class="amenities-text">Wifi</div>
                    </div>
                </div>
            </div>


            <div class="location-container">
                <div class="amenities-title">
                    Location
                </div>
                <div class="location-section">
                    <div class="location-map-container">
                        <img src="https://maps.geoapify.com/v1/staticmap?style=osm-bright&width=600&height=400&center=lonlat:19.847677,45.245405&zoom=14.5165&marker=lonlat:19.847812429683927,45.24480264845724;color:%23ff0000;size:medium&scaleFactor=2&apiKey=096745518caf46bcbf709624093db6ea"
                            alt="University of Novi Sad, Доктора Зорана Ђинђића, 21101 Novi Sad, Serbia">
                    </div>
                </div>
            </div>
        </div>

        <div class="split-container-column">
            <div class="reserve-container">
                <div class="reserve-header-container">
                    <div class="header-price-unit">
                        <span class="header-price">$</span>
                        <span class="header-price-value">50</span>
                        <span class="header-price-unit"> per night</span>
                    </div>
                    <div class="header-guest-count">
                        3-5 guests
                    </div>
                </div>
                <div class="reserve-input-section">
                    <app-search-daterange-picker class="reservation-range-input" />
                    <mat-form-field class="reservation-guests-input" subscriptSizing="dynamic">
                        <span matPrefix class="material-symbols-outlined input-prefix">
                            people
                        </span>
                        <mat-label>Guests</mat-label>
                        <input type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="reservation-pricing-section">
                    <div class="pricing-item-section">
                        <div class="pricing-reason">
                            $254 x 6 nights
                        </div>
                        <div class="pricing-value">
                            $1524
                        </div>
                    </div>
                    <div class="pricing-item-section">
                        <div class="pricing-reason">
                            Additional fees
                        </div>
                        <div class="pricing-value">
                            $103
                        </div>
                    </div>
                    <mat-divider />
                    <div class="pricing-item-section">
                        <div class="pricing-reason-total">
                            Total
                        </div>
                        <div class="pricing-value-total">
                            $1627
                        </div>
                    </div>
                </div>
                <div class="complete-button-container">
                    <button mat-flat-button color="primary">Complete</button>
                </div>
            </div>
        </div>
    </div>


    <div class="add-comment-section">
        <div class="amenities-title">
            Reviews
        </div>

        <div class="add-comment-input-section">
            <app-star-rating />
            <mat-form-field class="add-comment-input" subscriptSizing="dynamic">
                <mat-label>Comment</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"
                    placeholder="Write something nice"></textarea>
            </mat-form-field>
        </div>

        <div class="add-comment-submit-section">
            <div class="add-comment-button-container">
                <button mat-flat-button color="primary">Submit review</button>
            </div>
        </div>
    </div>

    <app-rating-summary [fiveStarCount]="1590" [fourStarCount]="1414" [threeStarCount]="353" [twoStarCount]="106"
        [oneStarCount]="71"></app-rating-summary>

    <div class="comment-section">
        <app-review-card class="review-card" />
        <app-review-card class="review-card" />
        <app-review-card class="review-card" />
        <app-review-card class="review-card" />
        <app-review-card class="review-card" />
    </div>
</div>