<div class="body-container" *ngIf="accommodation | async as accommodationData">
    <div class="header-name-image-container">
        <div class="accommodation-name-container">
            <div class="accommodation-name">
                <div class="title-text">{{accommodationData.title}}</div>
                <div class="rating-container">
                    <button mat-raised-button color="primary" [routerLink]="'/accommodation/edit/' + id"
                        *ngIf="ownerMode">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                </div>
            </div>
            <div class="location-header">
                <div class="location-icon-container">
                    <mat-icon class="location-icon">location_on</mat-icon>
                </div>
                <div class="location-text-container">
                    <div class="location-text">{{accommodationData.address.city + ", " +
                        accommodationData.address.country}}</div>
                </div>
            </div>
        </div>

        <div class="image-container">
            <div class="grid-container">
                <img *ngFor="let image of imageNames" [src]="image" alt="accommodation image" class="grid-item">

            </div>
            <button class="show-more-button" (click)="openDialog()" mat-fab extended>
                <mat-icon>window</mat-icon>
                Show more
            </button>
        </div>
    </div>
    <div class="accommodation-split-container">
        <div class="split-container-column">
            <div class="host-container" [routerLink]="'/account/' + hostId">
                <div class="host-section">
                    <div class="host-header-container">
                        <div class="host-info-container">
                            <div class="host-image-container">
                                <img [src]="hostImage" alt="profile image">
                            </div>
                            <div class="host-text-info-container">
                                <div class="hosted-by-container">
                                    <span class="hosted-by">Hosted by </span>
                                    <span class="host-name">{{ownerMode ? "you" : accommodationData.host.name + " " +
                                        accommodationData.host.surname}}</span>
                                </div>
                            </div>
                        </div>
                        <button mat-icon-button *ngIf="!ownerMode" (click)="reportHost()">
                            <mat-icon>flag</mat-icon>
                        </button>
                    </div>
                    <div class="about-host-section">
                        <div class="about-host-title">
                            About {{ownerMode ? "you" : accommodationData.host.name}}
                        </div>
                        <div class="about-host-container">
                            {{accommodationData.host.bio}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="amenities-section">
                <div class="amenities-title">
                    Amenities
                </div>
                <div class="amenities-container">
                    <div class="amenities-item" *ngFor="let amenity of amenities">
                        <mat-icon>{{amenity.icon}}</mat-icon>
                        <div class="amenities-text">{{amenity.amenity.title}}</div>
                    </div>
                </div>
            </div>


            <div class="location-container">
                <div class="amenities-title">
                    Location
                </div>
                <div class="location-name">
                    {{ accommodationData.address.street + ", " +
                    accommodationData.address.city + ", " + accommodationData.address.country}}
                </div>
                <div class="location-section">
                    <div class="location-map-container">
                        <app-map [coordinates]="mapCoordinates"></app-map>
                    </div>
                </div>
            </div>
        </div>

        <div class="split-container-column">
            <app-reserve-container [accommodationData]="accommodationData" [currentRole]="currentRole"></app-reserve-container>
        </div>
    </div>

    <app-review-creation *ngIf="currentRole == 'GUEST'" [type]="'ACCOMMODATION'"
        [id]="accommodationData.id"></app-review-creation>


    <app-review-section [id]="accommodationData.id" [type]="'accommodation'" />

    
</div>