    <div class="imageContainer">
        <div class="heartContainer">
            <div class="iconContainer">
                <span class="material-symbols-outlined heart-icon">
                    favorite
                </span>
            </div> 
        </div>
        <img src="assets/accommodation_image.webp">
    </div>
    
    <div class="infoContainer">
        <div class="nameContainer">
            <div class="title_text">The Willow</div>
            <div class="ratingContainer">
                <span class="material-symbols-outlined star-icon">
                    star
                </span>
                <span class="rating_text">4.8</span>
            </div>
        </div>
        <div class="location_container">
            <span class = "location_text">Novi Sad, Serbia</span><span class="text_dot">·</span><span class="location_distance">428km away</span>
        </div>
        <div class="price_container">
            <span class="price_number">$346</span>
            <span class="pricing_type"> per night</span>
            <span class="text_dot">·</span>
            <span class="price_total">$1,730 total</span>
        </div>
    </div>

