<div class="wrapper">
    <div class="formSide">
        <div class="formWrapper formScroll">
            <p class="title">REGISTER</p>

            <form class="authForm">
                <mat-form-field class="textBox">
                    <mat-label>Role</mat-label>
                    <mat-select [(value)]="selected" placeholder="Mode">
                        <mat-option value="guest">Guest</mat-option>
                        <mat-option value="host">Host</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Email</mat-label>
                    <input matInput type="email">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Name</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Address</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>City</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-select-country class="countrySelect" appearance="fill" label="Country">
                </mat-select-country>

                <mat-form-field class="textBox">
                    <mat-label>Phone number</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Password</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </form>

            <button mat-flat-button class="inputButton" color="primary" id="continue">Continue</button>
            <p class="promptText">Have an account? <a href="">Login</a></p>
        </div>
    </div>

    <div class="imageSide imageScroll">
        <img src="assets/image.png" class="authBackground">
        <p class="phrase">Become a part<br>of something<br>amazing</p>
    </div>

</div>