.star-rating {
    display: flex;
    cursor: pointer;
}

.star {
    font-size: 24px;
    color: #ffc107;
    /* Yellow color for filled stars */
    transition: color 0.3s;
}

.star:hover {
    color: #ff8f00;
    /* Darker yellow color on hover */
}

.star.filled {
    color: #ff8f00;
    /* Darker yellow color for filled stars */
}