<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<div class="all-container" [formGroup]="formGroup">
    <div class="header-container">
        <h1>Certificate creation</h1>
    </div>
    <div class="user-input user-input-container">
        <h2>Basic information</h2>
        <mat-form-field style="width: 100%;">
            <mat-label>User</mat-label>
            <mat-select formControlName="userControl">
                <mat-option *ngFor="let user of allUsers" [value]="user">{{ user.name + " " + user.surname }}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="user-input certificate-input-container">
        <mat-form-field style="width: 100%;">
            <mat-label>Parent certificate</mat-label>
            <mat-select formControlName="certControl">
                <mat-option *ngFor="let cert of allCertificates" [value]="cert">{{ cert.serialNumber }}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="user-input extensions-input-container">
        <h2 (click)="idk()">Extensions</h2>
        <ul *ngIf="getSelectedCertificate">
              <li *ngFor="let extension of getSelectedCertificate.extensions">
                <mat-checkbox [checked]="isExtensionChecked(extension.name)" (change)="toggleExtension($event, extension.name)">
                  {{extension.name}}
                </mat-checkbox>
              </li>
          </ul>
    </div>
    <div class="user-input daterange-input-container">
        <h2> Validation period </h2>
        <app-cert-date-picker style="width: 100%;" *ngIf="getSelectedCertificate" [form]="dateRangeFormGroup" [certificate]="getSelectedCertificate"></app-cert-date-picker>
    </div>
    <div class="button-container">
        <button (click)="onSubmit()" class="submit-button" mat-flat-button color="primary">Create</button>
    </div>
</div>