<mat-toolbar id="header">
    <a class="horizontal-flex" [routerLink]="''">
        <img class="toolbar-logo-img" src="assets/logo.png" />
        <span class="app-name">Odyssey</span>
    </a>
    <div class="horizontal-flex">
        <a [routerLink]="''">Home</a>
        <a [routerLink]="'accommodations-list'">Search</a>
        <a [routerLink]="'contact'">Contact</a>
        <a [routerLink]="'guest-reservations'" *ngIf="role == 'GUEST'">My reservations</a>
        <a [routerLink]="'host-reservations'" *ngIf="role == 'HOST'">Reservations</a>
        <a [routerLink]="'host-accommodations'" *ngIf="role == 'HOST'">My accommodations</a>
        <a [routerLink]="'admin-reviews'" *ngIf="role == 'ADMIN'">Reviews</a>
        <a [routerLink]="'admin-accommodations'" *ngIf="role == 'ADMIN'">Accommodations</a>
        <a [routerLink]="'admin-users'" *ngIf="role == 'ADMIN'">Users</a>
        <img class="toolbar-profile-img" [routerLink]="'account'" src="{{img}}"
            *ngIf="['ADMIN', 'HOST', 'GUEST'].includes(role)" />
        <a [routerLink]="'login'" *ngIf="!['ADMIN', 'HOST', 'GUEST'].includes(role)">Log in</a>
        <a [routerLink]="'registration'" *ngIf="!['ADMIN', 'HOST', 'GUEST'].includes(role)">Sign up</a>
    </div>
</mat-toolbar>