<mat-toolbar id="header" *ngIf="displayed">
    <a class="horizontal-flex" [routerLink]="'/'">
        <img class="toolbar-logo-img" src="assets/logo.png" />
        <span class="app-name">Odyssey</span>
    </a>
    <div class="horizontal-flex">
        <a [routerLink]="'/'">Home</a>
        <a [routerLink]="'/accommodationList'">Search</a>
        <a [routerLink]="'/'">Contact</a>
        <a [routerLink]="'/'" *ngIf="currentRole == 'GUEST'">My reservations</a>
        <a [routerLink]="'/'" *ngIf="currentRole == 'HOST'">Reservations</a>
        <a [routerLink]="'/'" *ngIf="currentRole == 'HOST'">My accommodations</a>
        <a [routerLink]="'/'" *ngIf="currentRole == 'ADMIN'">Reviews</a>
        <a [routerLink]="'/'" *ngIf="currentRole == 'ADMIN'">Accommodations</a>
        <a [routerLink]="'/'" *ngIf="currentRole == 'ADMIN'">Users</a>
        <img class="toolbar-profile-img" [routerLink]="'/account'" src="{{img}}"
            *ngIf="['ADMIN', 'HOST', 'GUEST'].includes(currentRole)" />
        <a [routerLink]="'/login'" *ngIf="!['ADMIN', 'HOST', 'GUEST'].includes(currentRole)">Log in</a>
        <a [routerLink]="'/registration'" *ngIf="!['ADMIN', 'HOST', 'GUEST'].includes(currentRole)">Sign up</a>
    </div>
</mat-toolbar>