<div class="body-container">
    <div class="image-container">
        <div class="grid-container">
            <img src="assets/accommodation_image.webp" alt="accommodation image" class="grid-item">
            <img src="assets/accommodation_image_1.webp" alt="accommodation image" class="grid-item">
            <img src="assets/accommodation_image_2.webp" alt="accommodation image" class="grid-item">
            <img src="assets/accommodation_image_3.webp" alt="accommodation image" class="grid-item">
            <img src="assets/accommodation_image_4.webp" alt="accommodation image" class="grid-item">
        </div>
        <button class="show-more-button" mat-fab extended>
            <mat-icon>window</mat-icon>
            Show more
        </button>
    </div>




    <div class="comment-section">
        <app-review-card class="review-card"/>
        <app-review-card class="review-card"/>
        <app-review-card class="review-card"/>
        <app-review-card class="review-card"/>
        <app-review-card class="review-card"/>
    </div>
</div>