<div class="body-container">
    <div class="search-section">
            <mat-form-field class="search-bar" subscriptSizing="dynamic">
                <mat-label>Search accommodations</mat-label>
                <input type="search" matInput>
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>

              <app-autocomplete-dropdown class="auto-drop"></app-autocomplete-dropdown>

    <mat-form-field>
      <mat-label>Choose Date Range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
        <input matStartDate formControlName="start" placeholder="Start Date">
        <input matEndDate formControlName="end" placeholder="End Date">
      </mat-date-range-input>
      <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker matSuffix #picker></mat-date-range-picker>
    </mat-form-field>




        
    </div>
    <div class="list-section">
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
        <app-accommodation-card/>
    </div>
</div>
