.search-section{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    align-items:center;
    width: 60%;
    margin:auto;
    background-color: #D5F5F5;
    padding: 15px;
    gap: 10px;
}

.search-bar{
    width:100%;
}

.heart-toggle.mat-button-toggle-checked{
    color:#EA4335;
    background-color: rgba(234, 67, 53, 0.3);
}

.list-section{
    margin-top: 70px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:90px 20px;
    flex-wrap: wrap;
}