*{
    box-sizing: border-box;
}


.search-section{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    align-items:center;
    width: 75%;
    margin:auto;
    background-color: #D5F5F5;
    padding: 15px;
    gap: 10px 15px;
    margin-top: 75px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: auto;
}

.filter-container{
    box-sizing: border-box;
    background-color: white;
    top:0;
    position:sticky;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    width: 100%;
    padding: 0px 150px;
    z-index: 1;
}


.filter-container.sticky{
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

.input-prefix{
    margin-left: 10px;
    color: #787575;
}



.parameterSection{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    height: 100%;
    translate: all 0.5s ease-in-out;
}



.parameter-child
{
    min-width: 150px !important;
    flex:1 !important;
    height: 100% !important;
    overflow: hidden;    
}

#first-parameter{
    border-radius: 999px 0 0 999px;
}

#last-parameter{
    border-radius: 0 999px 999px 0;
}

/* ::ng-deep app-autocomplete-dropdown.is-sticky .mat-primary,
.parameter-child.is-sticky
{
    height: 500px !important; 
} */
.search-bar{
    width:100%;
    border-radius: 15px;
}

.heart-toggle.mat-button-toggle-checked{
    color:#EA4335;
    background-color: rgba(234, 67, 53, 0.3);
}

.search-button-section{
    display:flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    gap:15px;
    align-items: center;
}

.divider{
    margin-top: 50px;
}


.list-section{
    margin-top: 70px;
    padding: 0 50px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.list-section > .accommodation-card{
    flex-basis: 350px;
    flex-grow: 1;
    margin:10px;
    margin-bottom: 50px;
}

