p {
    margin: 0;
}

.destination-container {
    height: auto;
    padding: 30px;
    padding-inline: 50px;
    display: inline-block;
}

.card-section {
    padding: 25px;
    margin: 30px;
    min-width: auto;
    display: grid;
    grid-template-columns: 4fr 5fr;
    row-gap: 20px;
    column-gap: 30px;
}

.rounded-border {
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0, 0.12);
}

#about-profile-img {
    max-height: 90px;
}

#summary-section {
    gap: 30px;
    display: flex;
    flex-direction: row;
}

#summary-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#summary-name {
    font-size: large;
    font-weight: 700;
}

#summary-role {
    font-size: small;
    font-weight: 500;
    margin-top: 2px;
}

.btn-edit:not(:disabled) {
    margin-left: auto;
    color: gray;
    text-wrap: nowrap;
}

.section-header {
    display: flex;
    grid-column: 1 / 3;
}

#about-value {
    margin-right: 150px;
    grid-column: 1 / 3;
}

.about-section {
    grid-template-columns: 1fr;
}

.about-section {
    grid-column: 1;
}

.section-title {
    font-size: medium;
    font-weight: 700;
}

.field-label {
    font-size: smaller;
    font-weight: 500;
    color: gray;
}

.field-value {
    font-size: medium;
    font-weight: 500;
}

#btn-deactivate {
    margin-top: 10px;
    text-wrap: nowrap;
    width: min-content;
    background-color: warn;
}

@media only screen and (max-width: 800px) {
    .card-section {
        grid-template-columns: 1fr;
    }

    #about-value {
        margin-right: 0;
    }

    .section-header {
        display: flex;
        grid-column: 1;
    }

    #about-value {
        grid-column: 1;
    }
}