<div class="destination-container">
    <section id="summary-section" class="card-section rounded-border">
        <img id="about-profile-img" src="../../assets/profile_example.png" />
        <div id="summary-details">
            <p id="summary-name">John Johnson</p>
            <p id="summary-role">Host</p>
        </div>
        <button mat-stroked-button id="btn-edit-image" class="btn-edit">
            <mat-icon>edit</mat-icon>Edit image
        </button>
    </section>
    <section id="info-section" class="card-section rounded-border">
        <div class="section-row">
            <p>Basic info</p>
            <button mat-stroked-button id="btn-edit-info" class="btn-edit">
                <mat-icon>edit</mat-icon>Edit image
            </button>
        </div>

        <div id="summary-details">
            <p id="summary-name">John Johnson</p>
            <p id="summary-role">Host</p>
        </div>
    </section>
</div>