<div class="wrapper">
    <div class="formSide">
        <a href="" class="backLink">&lt;&lt; Back to main site</a>

        <div class="formWrapper">
            <p class="title">LOGIN</p>

            <form class="authForm">
                <mat-form-field class="textBox">
                    <mat-label>Email</mat-label>
                    <input matInput type="email">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </form>

            <p class="promptText">Forgot password? <a href="">Click here</a></p>
            <button mat-flat-button class="inputButton" color="primary" id="continue">Continue</button>
            <p class="promptText">No account? <a href="">Register now</a></p>
        </div>
    </div>

    <div class="imageSide">
        <p class="phrase">Become a part<br>of something<br>amazing</p>
    </div>

</div>