<div class="wrapper">
    <div class="formSide">
        <div class="formWrapper">
            <p class="title">LOGIN</p>

            <form class="authForm" [formGroup]="signinForm">
                <mat-form-field class="textBox">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="textBox">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </form>

            <p class="promptText">Forgot password? <a href="">Click here</a></p>
            <button mat-flat-button class="inputButton" color="primary" id="continue" (click)="onLogin()"
                [routerLink]="''">Continue</button>
            <p class="promptText">No account? <a [routerLink]="'../registration'">Register now</a></p>
        </div>
    </div>
    <div class="imageScroll">
        <div class="imageSide">
            <p class="phrase">Become a part<br>of something<br>amazing</p>
        </div>
    </div>

</div>